<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/scss/shop.css"/>
    <link rel="stylesheet" type="text/css" href="/scss/main.css"/>
    <link rel="stylesheet" href="/scss/header.css"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css"/>
</head>
<body>
<div id="max">
    <header>

        <div class="min">
            <ul class="header_ul_right">
                <li style="border: 0;"><a href="../登录页面\index.html" class="aa">你好，请登录</a></li>
                <li><a href="../注册页面\index.html" style="color: red;">免费注册</a> |</li>
                <li><a href="javascript:;" class="aa">我的订单</a> |</li>

            </ul>
        </div>
    </header>
    <nav>
        <div class="nav_min">
            <div class="nav_top">
                <div class="nav_top_one"><a href="http://search.gmall.com:8084/index.html"><img
                        src="/img/logo1.jpg"/></a></div>
                <div class="nav_top_two">
                </div>
                <div class="nav_top_three"><a href="http://cart.gmall.com:8085/myCart.html">我的购物车</a><span
                        class="glyphicon glyphicon-shopping-cart"></span>
                    <div class="nav_top_three_1">
                        <img src="/img/44.png"/>购物车还没有商品，赶紧选购吧！
                    </div>
                </div>
            </div>
        </div>
    </nav>

</div>
<div class="Shop">
    <div class="box">
        <div class="box-one ">
            <div class="boxx">

                <div class="imgbox">
                    <div class="probox">
                        <img class="img1" alt="" th:src="${skuInfo?.skuDefaultImg}" src="/img/59ded626N7c4cb0a3.jpg">
                        <div class="hoverbox"></div>
                    </div>
                    <div class="showbox">
                        <img class="img1" alt="" th:src="${skuInfo?.skuDefaultImg}" src="/img/59ded626N7c4cb0a3.jpg">
                    </div>
                </div>

                <div class="box-lh">

                    <div class="box-lh-one">
                        <ul>
                            <li th:each="skuImage:${skuInfo?.skuImageList}">
                                <img th:src="${skuImage.imgUrl}"/>
                            </li>
                        </ul>
                    </div>
                    <div id="left">
                        <
                    </div>
                    <div id="right">
                        >
                    </div>

                </div>

                <div class="boxx-one">
                    <ul>
                        <li>

                        </li>
                        <li>

                        </li>
                    </ul>
                </div>

            </div>
            <div class="box-two">
                <input id="skuIdMap" type="hidden" th:value="${skuIdMap}"/>
                <input id="spuId" type="hidden" th:value="${spuId}"/>
                <div class="box-name" th:text="${skuInfo?.skuName}">
                    华为 HUAWEI Mate 10 6GB+128GB 亮黑色 移动联通电信4G手机 双卡双待
                </div>

                <div class="box-summary clear">
                    <ul>
                        <li>惊喜价</li>
                        <li>
                            <span>￥</span>
                            <span th:text="${skuInfo?.price}">4499.00</span>
                        </li>
                        <li>

                        </li>
                        <li>

                        </li>
                    </ul>
                </div>
                <div class="box-wrap clear">

                </div>

                <div class="box-stock">
                    <ul class="box-ul">
                        <li>库存:</li>
                        <li class="box-stock-li">
                            <div class="box-stock-one">
                            </div>


                        </li>
                        <li>
                            <span>无货</span>， 此商品暂时售完
                        </li>

                    </ul>
                </div>
                <div class="box-stock">
                    <ul class="box-ul">
                        <li>重 量:</li>
                        <li class="box-stock-li">
                            <div class="box-stock-one">
                            </div>


                        </li>
                        <li th:text="${skuInfo?.weight}+' kg'">
                            10 kg
                        </li>

                    </ul>
                </div>

                <div class="box-attr-3">
                    <br/>
                    <div class="box-attr-2 clear" th:each="spuSaleAttr:${spuSaleAttrListCheckBySku}">
                        <dl>
                            <dt th:text="${spuSaleAttr.saleAttrName}">选择颜色</dt>
                            <dd th:class="(${saleAttrValue.isChecked=='1'}?'redborder':'')"
                                th:each="saleAttrValue:${spuSaleAttr.spuSaleAttrValueList}">
                                <div th:value="${saleAttrValue.id}" th:text="${saleAttrValue.saleAttrValueName}">
                                    摩卡金
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <br/>
                </div>

                <div class="box-btns clear">
                    <div class="box-btns-one">
                        <form id="itemForm" action="http://cart.gmall.com:8085/addToCart" method="post">
                            <input type="text" name="quantity" id="" value="1"/>
                            <input type="hidden" name="skuId" th:value="${skuInfo?.id}"/>

                            <div class="box-btns-one1">

                                <div>
                                    <button type="button" id="jia">
                                        +
                                    </button>
                                </div>
                                <div>
                                    <button type="button" id="jian">
                                        -
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div id="cartBtn" style="cursor:pointer;" canClick="1" onclick="addToCart(this)"
                         class="box-btns-two">

                        放入购物车

                    </div>
                </div>


            </div>

        </div>
    </div>

</div>

<div class="gouwuchexiaguo">
    <img src="/img/44.png"/>
    <span>购物车还没有商品，赶紧选购吧！</span>
</div>
</body>

<script src="/js/jquery1.9.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/js.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    function addToCart(obj) {
        var canClick = $(obj).attr("canClick");
        if (canClick == '0') {
            return;
        }
        $("#itemForm").submit();
    }

    function switchSkuId() {
        // 获得当前选中的销售属性值组合key
        var key = "";
        $(".redborder div").each(function (i, div) {
            var valueId = $(div).attr("value");
            key = key + "|" + valueId;
        })
        // 根据key找到对应的skuId
        var skuIdMapJsonStr = $("#skuIdMap").val();

        // JSON字符串反转化
        var skuIdMapJson = JSON.parse(skuIdMapJsonStr);

        // 根据销售属性值组合key找到对应skuId
        var skuId = skuIdMapJson[key]

        if (skuId) {
            window.location.href = skuId + ".html"
        }
//			**********************************
//			// 获得当前选中的销售属性值组合key
//			var key = "";
//			$(".redborder div").each (function(i,div){
//				var valueId = $(div).attr("value");
//				key = key + "|" + valueId;
//			})
//            // 根据key找到对应的skuId
////            var skuIdMapJsonStr = $("#skuIdMap").val();
////            var skuIdMapJson = JSON.parse(skuIdMapJsonStr);
//
//			var spuId = $("#spuId").val();
//
//			$.getJSON("spuIdMap/spuId_"+spuId+".json", function (json) {
//				if(json){
//                    // 根据销售属性值组合key找到对应skuId
//                    var skuId = json[key];
//               	 	if(skuId){
//                 	   window.location.href = skuId + ".htm"
//					}
//                }else{
//				    // 调用后台生成静态文件
//				}
//            });
//			*******************************
    }
</script>

</html>
